%h1.text-center Search
.col-md-6.col-md-offset-3
  = form_tag({action: :search}) do
    .input-group
      = search_field_tag(:search, '', class: 'form-control')
      .input-group-btn
        %button.btn.btn-primary{type: :submit} Go!
